<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this obj from being saved:
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= render 'books/list', books: @books %>

<h2>Books</h2>
<p>Title</p>
<p>Opinion</p>
<% @books.each do |book| %>
<div>
  <p><%= book.title %></p>
  <p><%= book.body %></p>
</div>
<% end %>